<head>
<meta charset="UTF-8"> 
<script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">
<title>Starfield</title>
</head>
  <body>
  <div>
  <canvas id="StarField"></canvas>
  </div>
 <script src="js/starfield.js" type="text/javascript"></script>
 </body>